:root {
    /* --bg-light: url(assets/Mojave Day.jpg);
    --bg-dark: url(assets/Mojave night.jpg); */
    --bg-light: url(assets/0.jpg);
    --bg-dark: url(assets/1.jpg);
    /* --bg-light: url(assets/BackWallpaper_light.jpg);
    --bg-dark: url(assets/BackWallpaper_dark.jpg); */
    --color-light: #224;
    --color-dark: #fff;
    --card-bg-light: rgba(255, 255, 255, 0.192);
    --card-bg-dark: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    box-sizing: inherit;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    padding: 30px;

    color: var(--color-light);
    background-image: var(--bg-light);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out, color 0.5s ease-in-out;
    background-position-y: -18rem;
}

/* Dark mode styles */
body.dark {
    color: var(--color-dark);
    background-image: var(--bg-dark);
}

.card {
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    height: 300px;
    padding: 20px;
    border: 1px dashed rgba(253, 253, 253, 0.5);
    border-radius: 20px;
    background-color: var(--card-bg-light);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.658);
    backdrop-filter: blur(10px);
    transition: background-color 1s ease;
}

body.dark .card {
    background-color: var(--card-bg-dark);
}

/* Media query for responsiveness */
@media (max-width: 1080px) {
    body {
        overflow-y: hidden;
        overflow-x: hidden;
        background-position-y: 0rem;
    }
    .card {
        max-height: 1000px;
        height: 500px;
    }
}

button {
    --color: #ffe2e3;
    font-family: inherit;
    display: inline-block;
    /* width: 2em; */
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    /* border-radius: 6px; */
    font-weight: 500;
    color: var(--color);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    color: #fff;
    border-radius: 50%;
}

button:hover {
    color: #000;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all 0.5s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #ffe2e3;
    transition: background 0.5s;
}
