/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

html,
body {
  /* font: 1em/1.618 Inter, sans-serif; */
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  /* align-items: center; */
  justify-content: center;

  min-height: 100vh;
  padding: 30px;

  color: #224;
  background: url(assets/BackWallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional - for a fixed background */
}
/* html,
body {
  background-image: linear-gradient(44deg, #610c9f, #e95793);
} */

.card {
  /* max-width: 300px; */
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  height: 300px;
  padding: 20px;

  border: 1px dashed rgba(253, 253, 253, 0.5);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.192);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.658);

  backdrop-filter: blur(10px);
}
@media (max-width: 750px) {
  html,
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .card {
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 500px;
    height: 500px;
    /* padding: 10px 14px; */

    border: 1px dashed rgba(253, 253, 253, 0.5);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.192);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.658);

    backdrop-filter: blur(10px);
  }
}
/* From Uiverse.io by Madflows */ 
/* .button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: rgb(47, 48, 51);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(123, 76, 192) 10.8%,
    rgb(238, 88, 170) 94.3%
  );
  transition: all 0.475s;
} */

/* From Uiverse.io by cssbuttons-io */ 
button {
  --color: #35b435;
  font-family: inherit;
  display: inline-block;
  /* width: 2em; */
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  /* border-radius: 6px; */
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #2fa30c;
  transition: background 0s;
}
